@import "foundation";

.logo_top_size{
    width: 430px;
    height: 36px;
}
.logo_bottom_size{
    width: 180px;
    height: 15px;
}

hr{
    width: 25%;
    margin: 0;
}

.hello{
    font-size: 17px;
    padding: 28px 25px 20px 25px;
    line-height: 22px;
    font-weight: 300;

}

.call{
    font-size: 22px;
    padding: 20px;
    line-height: 22px;
    font-weight: 300;
    font-style: italic;
}

.text{
    font-size: 17px;
    padding: 20px;
    line-height: 22px;
    font-weight: 300;
}

.big_img_size{
    width: 324px;
    height: 324px;
    background: $light-gray;
}

.btn{
    background: $pre-color;
    width: 80%;
    display: inline-block;
    padding: 7px;
    text-align: center;
    margin: 20px;
    border-radius: 3px;
}

.btn_link{
    width: 100%;
    display: block;
    color: $white !important;
    text-align: center;

}

.footer{
    text-align: center;
    font-size: 10px;
    font-weight: 800;
}
