<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<style>



</style>

    <table class="body">
        <tr>
            <td>
                <center>

<!-- pre header -->
                    <br>
                    <container class="transparent">
                        <row>
                            <columns>
                                <p class="pre_header">Our Featured Products | <a href="#">view this email your in browser</a></p>
                            </columns>
                        </row>
                    </container>

                    <container class="border_radius">
                        <row>
                            <columns>

<!-- logo -->
                                <br>
                                <center>
                                    <img class="top_logo_size" src="https://gallery.mailchimp.com/90c603b9b429bf075702316f9/images/38e15d15-f99e-4e1a-93ff-9cd65f2886d2.png" width="200" height="60" alt="curvy.com.au logo">

<!-- menu -->
                                <br>
                                <menu>
                                    <item class="menu_hover" href="https://www.curvy.com.au/bras">BRAS</item>
                                    <item class="menu_hover" href="https://www.curvy.com.au/lingerie">LINGERIE</item>
                                    <item class="menu_hover" href="https://www.curvy.com.au/maternity">PLUS SIZE</item>
                                    <item class="menu_hover" href="https://www.curvy.com.au/swim">SWIM</item>
                                    <item class="menu_hover" href="https://www.curvy.com.au/sale">SALE</item>
                                    <item class="menu_hover" href="https://www.curvy.com.au/blog">BLOG</item>
                                </menu>

                                </center>
                            </row>
                        </row>
                    </container>
                    <br>
<!-- menu end -->


<!-- big img -->
                    <container class="border_radius">
                        <row>
                            <column>
                                <img class="border_radius big_img_size" src="https://gallery.mailchimp.com/90c603b9b429bf075702316f9/images/22677903-603a-4896-b751-0915a04a3872.jpg" alt="curvy.com.au" width="640" height="427">
                            </column>
                        </row>
                    </container>
                    <br>
<!-- big img -->




<!--  first_msg begin-->
                    <container class="border_radius">
                        <br>
                        <row>
                            <column>
                                <p class="first_msg" >Looking fabulous comes first from the inside...but wearing the right underwear doesn't hurt either ;) We've gone ahead and picked some of our customers' favorite products below. Take a look and see if any of these suit your style!</p>
                            </column>
                        </row>
                    </container>
                    <br>
<!--  first_msg end-->




<!-- items wrapper begin -->
<!-- items wrapper begin -->
<!-- items wrapper begin -->
<container class="border_radius">
<!-- items wrapper begin -->
<!-- items wrapper begin -->
<!-- items wrapper begin -->





<!-- item #1  begin -->
                                    <row>
                                        <columns>
                                            <br>
                                            <a class="title" href="#">Playtex Play Comfort Revolution Wire-Free Bra - Black</a>
                                        </columns>
                                    </row>

                                    <row>
                                        <columns large="4">
                                                <img class="item_img_size" src="https://gallery.mailchimp.com/90c603b9b429bf075702316f9/images/18bb6e7c-45c7-4d87-9132-48aff471e014.jpg" alt="curvy.com.au" width="210" height="250">
                                        </columns>
                                        <columns>

                                            <container>
                                                <row>
                                                    <columns>
                                                        <b>Price:</b> $39.95
                                                    </columns>
                                                </row>
                                                <row>
                                                    <columns>
                                                        <p class="item_content">Warning! This bra is very, very comfortable. From the Playtex Play collection, the Comfort Revolution Bra lives up to its name and is one of our most comfortable bras. Light foam cups without underwire provide great support without compromising comfort. </p>
                                                    </columns>
                                                </row>
                                            </container>
                                        </columns>
                                    </row>

                                    <center>
                                        <div class="btn">
                                            <a class="btn_link" href="#">View product</a>
                                        </div>
                                    </center>
                                    <br>
                                    <hr>
                                    <br>
<!-- item #1  begin -->




<!-- item #2  begin -->

                                    <row>
                                        <columns>
                                            <a class="title" href="#">Curvy Kate Princess Balcony Bra - Black</a>
                                        </columns>
                                    </row>

                                    <row>
                                        <columns large="4">
                                                <img class="item_img_size" src="https://gallery.mailchimp.com/90c603b9b429bf075702316f9/images/7a29bc79-6e95-46e9-b035-b0f795d6e2ce.jpg" alt="curvy.com.au" width="210" height="250">
                                        </columns>

                                        <columns>
                                            <container>
                                                <row>
                                                    <columns>
                                                        <b>Price:</b> $78.99
                                                    </columns>
                                                </row>
                                                <row>
                                                    <columns>
                                                        <p class="item_content">Designed specifically for larger bust sizes. This style is quite sheer in the cups but still offers full support and a great rounded shape. With a fuller cup, you will find this bra eliminates spilling from the top cup and sides.</p>
                                                    </columns>
                                                </row>
                                            </container>
                                        </columns>
                                    </row>

                                    <center>
                                        <div class="btn">
                                            <a class="btn_link" href="#">View product</a>
                                        </div>
                                    </center>
                                    <br>
<!-- item #2  end -->




<!-- items wrapper end -->
<!-- items wrapper end -->
<!-- items wrapper end -->
</container>
<!-- items wrapper end -->
<!-- items wrapper end -->
<!-- items wrapper end -->


<!-- footer -->
                <br>
                    <container class="border_radius">
                        <row>
                            <columns>
                                <br>
                                <center>
                                    <img class="footer_img_size" src="https://gallery.mailchimp.com/36071f1512c06866a716c837a/images/04752808-77f5-429f-9e96-9bf16ddffa43.png" alt="payment" width="240" height="30">
                                </center>
                            </columns>
                        </row>
                        <row>
                            <columns>
                                <p class="footer_content">
                                    <b>Phone: (02) 8399 8671</b>
                                    <br><a href="mailto:customercare@curvy.com.au<">Email customercare@curvy.com.au</a>
                                    <br>
                                    <a href="#">Unsubscribe from Mailing List</a>
                                </p>
                            </columns>

                        </row>
                    </container>
                    <br>
<!-- footer end -->






                </center>
            </td>
        </tr>
    </table>
</body>
</html>
